.justify {
    text-align: justify;
}
.col-md-12.virtual-main {
    margin-bottom: 2%;
}
.wpcf7-form-control-wrap.delay {
    border: 1px solid #cda731;
    padding: 1%;
    width: 100%;
    display: inline-block;
}
.col-md-6.virtual-browse {
    border: 1px solid #cda731;
    padding: 1%;
}

.vc_tta-color-pink.vc_tta-style-modern.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body {
    border-color: rgb(205, 167, 49) !important;
}

.vc_custom_heading.accord-font-title {
    border-bottom: 1px solid #000;
    padding-bottom: 7px;
    text-align: left !important;
    margin-top: 10px;
}

.justify.accord-font {
    font-size: 16px !important;
}
.vc_tta-title-text {
    font-size: 14px !important;
}
.vc_tta.vc_general {
   font-size: 16px !important;
font-family: roboto !important;
}

.vc_tta.vc_general .vc_tta-tab > a {
    padding: 10px 9px !important;
}


.vc_tta-color-pink.vc_tta-style-modern .vc_tta-tab > a {
    border-color: #cda731 !important;
    background-color: #cda731 !important;
    color: #fff;
}
.vc_tta-color-pink.vc_tta-style-modern .vc_tta-panel .vc_tta-panel-title > a {
    color: #fff !important;
}

.vc_tta-color-pink.vc_tta-style-modern .vc_tta-tab.vc_active > a {
    background-color: #f8f8f8 !important;
    color: #000;
}
.vc_tta-color-pink.vc_tta-style-modern .vc_tta-panel .vc_tta-panel-heading {
    border-color: #cda731 !important;
    background-color: #cda731 !important;
    color: #fff !important;
}

#laww {
    padding: 4%;
    background-size: 100%;
}

#virtual-background {
    background-size: 100% 200%;
    padding: 12%;
        padding-right: 12%;
        padding-left: 12%;
    background-position: 100% -140px !important;
}
.vc_custom_heading.importance-cedh {
    margin-bottom: 0px;
}
.menu-item a.menu-image-title-after.menu-image-not-hovered img, .menu-item a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
    width: 32px !important;
}
.contact-info-container {
    font-size: 15px;
}
.fusion-person-left {
    text-align: justify;
}
#team-desc {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 50% !important;
}
.fusion-main-menu > ul > li > a, .side-nav li a {
    font-family: roboto !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
    color: #666666 !important;
    text-transform: uppercase;
}
.post-content p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    color: #333 !important;
    text-align: justify;
}
.widget-title {
    font-size: 16px !important;
    font-weight: bold !important;
    border-bottom: 1px solid #bfa731;
    padding-bottom: 5px !important;
}
.col-md-12.job-title {
    margin-bottom: 20px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.job-title .wpcf7-form-control.wpcf7-submit {
    width: 20% !important;
}
.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
    color: #000;
    border: 1px solid #bfa731;
}
.wpcf7-form-control.wpcf7-textarea {
    color: #000;
    border: 1px solid #bfa731;
}
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    color: #000;
    border: 1px solid #bfa731;
}
.wpcf7-form-control.wpcf7-text {
    color: #000 !important;
    border: 1px solid #bfa731 !important;
}
.wpcf7-select-parent {
    width: 50% !important;
}
.wpcf7-form-control.wpcf7-select {
    color: #000 !important;
    border: 1px solid #bfa731 !important;
}
.pending-cases-title {
    text-align: left;
font-size: 16px;
color: #bfa131;
letter-spacing: 2px;
font-family: roboto;
text-transform: uppercase;
margin-bottom: 5px !important;
}
.pending-cases-desc {
   color: #000;
font-size: 13px;
font-family: roboto;
}
#human-rights-background {
    background-size: 100%;
    background-position: 100% -41px !important;
    padding: 2%;
}
#pending-cases-background {
    background-size: 100%;
    background-position: 100% -200px !important;
    padding: 7%;
}
#intervention-background {
    background-size: 100%;
    background-position: 100% -205px !important;
    padding: 10% 0;
}
#admisibility-background {
    background-size: 100% 200%;
    background-position: 100% -205px !important;
    padding: 10% 0;
}
#cases-page-background {
    background-size: 100%;
    background-position: 100% -376px !important;
    padding: 5% 0;
}
.fusion-mobile-menu-icons a::before {
    color: #444 !important;
}
.notranslate {
    border: none;
    color: #333;
    margin-top: 20%;
    font-family: 'Prociono';
    font-size: 15px;
    font-weight: 400;
}
.switcher {
    font-family: Arial;
    font-size: 10pt;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    width: 165px;
    line-height: 17px;
}
.menu-item.menu-item-gtranslate {
    padding-right: 163px !important;
}
.fusion-header {
    height: 100px !important;
}
.fusion-logo {
    width: 25%;
}
.fusion-logo img {
    width: 60%;
}
.fusion-is-sticky .fusion-logo img {
    width: 60%;
}
.vc_custom_heading.first-heading {
    letter-spacing: 6px !important;
}
.first-text {
    font-family: 'Raleway';
    font-size: 14px;
    color: #111 !important;
}
.first-text-black {
    font-family: 'Raleway';
   text-align: center !important;
font-size: 17px;
line-height: 1.5em;
text-transform: none;
letter-spacing: 1px;
font-weight: 400;
color: #000;
}
.first-header h4 {
    font-family: 'Raleway' !important;
    font-size: 26px !important;
}
#human-rights {
    background-repeat: no-repeat;
    background-size: 100%;
}
#echr {
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2%;
}
.team-format h4 {
    font-size: 22px !important;
font-weight: bold !important;
color: #000 !important;
}
.team-format {
    margin-bottom: 0px !important;
}
.team-format-desc {
    color: #222 !important;
font-family: 'Raleway' !important;
font-size: 14px !important;
}
#cases-background {
    background-size: 100%;
    background-position: 0px -200px !important;
}
.text-align-center.cases-title {
    font-size: 14px !important; 
font-weight: bold !important;
font-family: 'Raleway' !important;
}
.cases-title a {
    color: #bfa731 !important;
}
#news-banner {
    background-size: 100%;
    background-position-y: 30% !important;
}
.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: #fff;
    background-color: rgb(191, 167, 49);
}
.vc_btn3.vc_btn3-color-juicy-pink:hover, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover {
    color: #fff;
    background-color: rgb(191, 167, 49);
}
.vc_btn3-container.button-background-color.vc_btn3-center a {
    color: #fff !important;
    background-color: rgb(191, 167, 49) !important;
    border-color: rgb(191, 167, 49) !important;
}
input[type="submit"] {
    width: 100% !important;
padding: 2% !important;
border: none !important;
font-size: 15px !important;
color: #fff !important;
margin-top: 2% !important;
background-color: #bfa731 !important;
font-weight: bold !important;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .fusion-logo {
    width: 60%;
}
    .fusion-logo img {
    width: 100%;
}
.notranslate {
    margin-top: 0%;
}
.switcher {
    width: 100% !important;
}
.job-title .wpcf7-form-control.wpcf7-submit {
    width: 100% !important;
}
#human-rights-background {
    background-position: 100% 0px !important;
    background-size: 100% 100%;
}
#intervention-background {
    background-position: 100% 100% !important;
}
#admisibility-background {
    background-position: 100% !important;
}
#cases-page-background {
    background-position: 100% !important;
}
#pending-cases-background {
    background-position: 100% !important;
}
#mobile-menu-item-12003 .menu-image-title {
    background-color: #cda731 !important;
    padding: 0% 6%;
    color: #fff;
    display: inline-block;
}
/* #mobile-menu-item-12039 .menu-image-title:hover {
    background-color: #000000 !important;
    padding: 0% 6%;
    color: #fff;
} */
#mobile-menu-item-12007 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}

#mobile-menu-item-12023 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
#mobile-menu-item-12020 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
.menu-image-hover-wrapper {
    display: none;
}

}
@media only screen and (min-width : 481px) and (max-width : 599px) {
    #mobile-menu-item-12003 .menu-image-title {
    background-color: #cda731 !important;
    padding: 0% 6%;
    color: #fff;
    display: inline-block;
}
/* #mobile-menu-item-12039 .menu-image-title:hover {
    background-color: #000000 !important;
    padding: 0% 6%;
    color: #fff;
} */
#mobile-menu-item-12007 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}

#mobile-menu-item-12023 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
#mobile-menu-item-12020 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
.menu-image-hover-wrapper {
    display: none;
}
}
@media only screen and (min-width : 600px) and (max-width : 765px) {
    .fusion-logo {
    width: 60%;
}
    .fusion-logo img {
    width: 60%;
}
.job-title .wpcf7-form-control.wpcf7-submit {
    width: 100% !important;
}
#mobile-menu-item-12003 .menu-image-title {
    background-color: #cda731 !important;
    padding: 0% 6%;
    color: #fff;
    display: inline-block;
}
/* #mobile-menu-item-12039 .menu-image-title:hover {
    background-color: #000000 !important;
    padding: 0% 6%;
    color: #fff;
} */
#mobile-menu-item-12007 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}

#mobile-menu-item-12023 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
#mobile-menu-item-12020 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
.menu-image-hover-wrapper {
    display: none;
}
}
@media only screen and (min-width : 766px) and (max-width : 800px) {
    .fusion-logo {
    width: 60%;
}
    .fusion-logo img {
    width: 40%;
}
.job-title .wpcf7-form-control.wpcf7-submit {
    width: 100% !important;
}
#mobile-menu-item-12003 .menu-image-title {
    background-color: #cda731 !important;
    padding: 0% 6%;
    color: #fff;
    display: inline-block;
}

/* #mobile-menu-item-12039 .menu-image-title:hover {
    background-color: #000000 !important;
    padding: 0% 6%;
    color: #fff;
} */
#mobile-menu-item-12007 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}

#mobile-menu-item-12023 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
#mobile-menu-item-12020 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
.menu-image-hover-wrapper {
    display: none;
}
}
@media only screen and (min-width : 801px) and (max-width : 1100px) {
 #mobile-menu-item-12003 .menu-image-title {
    background-color: #cda731 !important;
    padding: 0% 6%;
    color: #fff;
    display: inline-block;
}
/* #mobile-menu-item-12039 .menu-image-title:hover {
    background-color: #000000 !important;
    padding: 0% 6%;
    color: #fff;
} */
#mobile-menu-item-12007 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}

#mobile-menu-item-12023 .menu-image-title {
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
#mobile-menu-item-12020 .menu-image-title{
    background-color: #f6f6f6 !important;
    padding-left: 10px !important;
    color: #333333 !important;
    display: inline-block !important;
}
.menu-image-hover-wrapper {
    display: none;
}   
}